<center><h1>ADMINS ONLY</h1></center>
<center><h3>Abandon All Hope, Ye Who Enter Here...</h3></center>

<ul>
  <% searches.each do |search| %>
  <li><%= search.search_string %> becomes <% search.segmented_parts %></li>
  <% end %> 
</ul>

<a href="/">Back</a>