<a href="/admin">Admin</a>
<p>Type in a few words and I will magically segment them (leave out all spaces).</p>

<form action="/segment">
  <input type="text" name ="string_to_segment">

  <input type="submit">

</form>