<h1>Welcome to the String Segmenter!</h1>

<form action="/segment">
<label for="segment_string">
  <i>Please Enter the Text You Would Like Segmented</i>
</label>
  <br>
  <input type="text" name="segment_string">

  <input type="submit">
</form>

<a href="/admin">Admin</a>
