<h1>Cool!</h1>

<p>Your string is made of the words: <%= @words %></p>

<p>Would you like to try another?</p>

+<form action="/segmented">
+  <input type="text" name="unsegmented_text">
+  <input type="submit">
+</form>

If you would like to see all past searches, click <a href="/searches">HERE</a>

