<center>
<h1>Welcome!</h1>

<p><a href="/StringSegmenter/string_segmenter">String Segmenter</a></p>
<p><a href="/RockPaperScissors/Players">Rock Paper Scissors</a></p>
<p><a href="/admin">Admin Stuffs</a></p>

</center>