<center><h1>Welcome to String Segmenter with a Side of Database</h1></center>

<form action="/segment">
Please type a few words WITHOUT any spaces between:
<br />
<input type="text" name="string_to_segment">
<br />
<input type="submit" value="Segment!">
</form>

<a href="/admin">Admin</a>
