

<center>
<h1>Welcome!</h1>

<form method="POST" action="/segment_page">
  Enter a string of letters that you want to see split into words:<br>
  <input type="text" name="string"><br>
  <br>
  <input type="submit" value="Submit">
</form> 
</center>