<h1 style="text-align:center; color:#8b0000">Hello Friends!</h1>

<p style="text-align:center">Welcome to Kyle's awesome string segmenter! <br/>
  Have you ever had a bunch of letters and wanted to <br/>
  seperate them into words? I know I have! <br/>
  Input some letters below to see them sepperated into thier respective words.
  <br/> For example, type in "blueturtlehappy" and see what happens!
<p> 

<form style="text-align:center" method="post" action="/segmenter" >
  String: <input type="text" name="string">
  <input type="submit">
</form>

<a href="/admin">Admin</a>