
<a href="/result">result</a>
<a href="/">admin</a>


<h1>String Segmenter</h1>
<p>Enter an unsegmented string for me to segment.</p>

<form action = "/result">
  <input type ="text" name="unsegmented_text">
  <input type ="submit"
</form>



