<center>
<br>
<br>
<br>
<br>
<center><p><h1>The World's Most Powerful String Segmenter</h1></p>

<h3> SEARCHING 109,583 ENGLISH WORDS </h3>

<form action="/result">
  <input type="text" name="unsegmented_text">
  <input type="submit">
</form>

<a href="/admin">Admin</a> 