<!DOCTYPE html>
<html>
<h1>Here are your words</h1>

<body>
<p><%= @result%></p>

<p>If you would like to see all the words in this database, click here!</p>
<a href="/allwords.erb">Click here to see all the words</a>



</body>
</html>