<center><font color="red"><h1>Here's your words!</h1>
<style>

{ margin: 0; padding: 0; }

html { 
        background: url('https://s-media-cache-ak0.pinimg.com/originals/2e/a0/4d/2ea04d1328e24c8518401cc1f857b4ee.gif') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


</style>
<%= @words %>

</center></font>