<h1>Welcome</h1>

<br>

<center>
<form action="/seg_view" method="get">
<input type="text" name="seg_str">
<input type="submit">
</form>
</center>

<br>

<a href="http://localhost:9292/admin">Admin Page</a>