<header>
   <h1>Rock Paper Scissors</h1>
   <p>Set Games and Players</p>
  </header>


<form method="GET" action="/RockPaperScissors/WeaponChoice">
  <fieldset>
    <legend>Game Setup:</legend>
    How many matches do you want to play?:&emsp;<input type="text" name="max_games"><br><br>
    PLAYER ONE, what is your name?:&emsp;&emsp;&emsp;  <input type="text" name="player_name"><br>
    PLAYER TWO, what is your name?:&emsp;&emsp;&emsp;<input type="text" name="other_player_name"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>